*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}

html, body {
    height: 100%;
    width: 100%;
}

body{
   
    overflow-x: hidden;
    /* overflow-y: hidden; */
  
 
}



.mobile-container {
    max-width: 480px;
    margin: auto;
    
    height: 500px;;
    border-radius: 10px;
    display: none;
    padding-bottom: 20px;
  }
  

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'courier new', sans-serif;
    font-size: 17px;
    display: none;
   
  }
  
  .topnav a.icon {
  
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #da407b;
   
  }
  
  .active {

    color: #F2F0EB;
  }



.scrolling-text-container {
    display: none;
  }
@font-face{
    font-family: "Not Courier Sans";
    src: url("../media/fonts/NotCourierSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family: "Rosindale";
    src: url("../media/fonts/fonts/Roslindale-DeckNarrowBold-Testing.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family: "Muelsinato";
    src: url("media/fonts/Muelsinato.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family: "elipse";
    src: url("media/fonts/elipse.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
 

@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Louise';
    src: url('../media/fonts/Louise-Regular copy.otf') format('otf');
    src: url('../media/fonts/Louise-Regular.woff') format('woff');
    src: url('../media/fonts/Louise-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Avara';
    src: url('../media/fonts/Avara-Black.eot') format('ttf');
 
    font-weight: normal;
    font-style: normal;
  
  }


  @font-face {
    font-family: 'Picaflor';
    src: url('../media/fonts/Picaflor-12pt.eot') format('eot');
    src: url('../media/fonts/Picaflor-12pt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }


  @font-face {
    font-family: 'Rosindale-VF';
   
    src: url('../media/fonts/fonts/RoslindaleVariable-VF[Display]-Testing.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 14px;
    color: black;
    }

 
    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
      
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: black;
        }
    
        a{
            text-decoration: none;
            color: #e0e0e0;
        
        }
        
        
        
        #home:hover{
            background-color: #888d34;
            font-weight: 400;
            color:#e6f2fa;
        }
        
        #contact:hover{
            background-color: #888d34;
            font-weight: 400;
            color:#e6f2fa;
        }
        
        #header2:hover{
            background-color: #888d34;
            font-weight: 400;
            color:#e6f2fa;
        }
        
        
        #h3:hover{
            background-color: #888d34;
            font-weight: 500;
            color:#e6f2fa;
        }
        

/* Container styles */
.scrolling-text-container {
  
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.flex-container1 {
       
    width: 100%;
    height: 100vh;

    display: flex; /* Optional if you need additional flexbox layout inside */
    flex-direction: row; /* Optional for stacking elements */
     /* Align children to the bottom if necessary */
     justify-content: left;
     align-items: column;
   
    }


    
  .parent-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Ensure no overflow */
    width: 100%;
    height: 100vh;
    align-items: flex-start;
  
}
      
     
    

    .flex-container2 {
         
        width: 100%;
        height: 100vh;
    
        display: flex; /* Optional if you need additional flexbox layout inside */
        flex-direction: row; /* Optional for stacking elements */
         /* Align children to the bottom if necessary */
         justify-content: left;
         align-items: column;
         
     
     
    }
    

 


.flex-item1{
    display: flex;
    width: 33%;
    height: 100vh;
  flex-wrap: nowrap;
   flex-direction: column;
   justify-content: left;
   align-items: center;
   
   
}

.flex-item2{
    display: flex;
    width: 33%;
    height: 100vh;
    flex-wrap: nowrap;
   flex-direction: column;
   justify-content: left;
   align-items: left;

}

.flex-item3{
    display: flex;
    width: 33%;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;

 justify-content: center;
    align-items: center;

}

#name1{
    font-size: 80px;
    font-family: "Rosindale-VF", serif;
   font-weight: 100;
   color: #f39cb3;
   
   
}


.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}

hr{
    display: none;
}

h1{
    font-size: 80px;
    font-family: "Rosindale-VF", serif;
   font-weight: 100;
   color: #f39cb3;
  
   
   
}



hr{
    color: #ff7bc9;
    border: .5px solid #ff7bc9;
   }

 

   h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 200;
    color: #e0e0e0;
  }

h3{
    font-size: 14px;
    font-family: "dm sans", sans-serif;
    font-weight: 300;
   color: #e0e0e0;
   
}

h4{
    font-size: 20px;
    font-family: 'louise', sans-serif;
    color: #e0e0e0;
}



h5{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 200;
    position: absolute;
   margin-top: 20px;
   margin-right: 20px;
    right: 0;
    color: #e0e0e0;
  }

  h5:hover{
    background-color: #888d34;
   
  }

  h6 {
    font-size: 20px;
    font-family: 'dm sans', sans-serif;
    color: #2a0220;
    font-weight: 100;
}

#polaroid{
    width: 10%;
    height: 10%;



}

#polaroid1{
    width: 10%;
    height: 10%;


 

}


#polaroid-container {
    position: relative;  /* Sets the stacking context */
    width: 70%;          /* Adjust width as needed */
    height: 50vh;        /* Adjust height to fit images */
    margin: auto;
    display: flex;       /* Optional if you need additional flexbox layout inside */
    flex-direction: column; /* Optional for stacking elements */
    margin-top: 0px;

   
}

#polaroid, #polaroid1 {
    position: absolute;  /* Stack on top of each other */
    top: 0;
    left: 0;
    width: 100%;         /* Ensure same width */
    height: auto;        /* Maintain aspect ratio */
}



#discohat{
    width: 80%;
    height: 50%;
   
}


#sushi{
    width: 100%;
    height: 50%;
   
}

  
#about{
    font-size: 12px;
    font-family: 'dm sans', sans-serif;
    font-weight: 300;
    color: #e0e0e0;
    margin-top: 250px;
    padding: 50px;}

      
#about2{
    font-size: 12px;
    font-family: 'dm sans', sans-serif;
    font-weight: 300;
    color: #e0e0e0;
    padding: 50px;}



    .mobile-container {
        max-width: 480px;
        margin: auto;
        
        height: 500px;;
        border-radius: 10px;
        display: none;
        padding-bottom: 20px;
      }
      
    
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'courier new', sans-serif;
        font-size: 17px;
        display: none;
       
      }
      
      .topnav a.icon {
      
        display: none;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #da407b;
       
      }
      
      .active {
    
        color: #F2F0EB;
      }
    
    
    
/* Style form elements */
#form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 100;
    font-family: 'dm sans', sans-serif;
    color:#e0e0e0;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #F2F0EB;
    color: black;
    padding: 10px 20px;
    border: 2px solid #f39cb3;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 100;
    font-family: 'dm sans', sans-serif;
}

input[type="submit"]:hover {
    background-color: #f39cb3;
}

/* Style message */
.message {
    font-size: 14px;
    color: #888d34;
    font-family: 'Courier New', Courier, monospace;
}

/* Style form elements */
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Style text area */
textarea {
    height: 150px;
}
















    
    

      @media screen and (max-width: 480px) {
        html, body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            width: 100%;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .container {
            max-width: 100%;
            overflow: hidden;
        }
        

        h2{
            font-family:'Courier New', Courier, monospace;
            font-size: 16px;
            font-weight: 200;
            color: #e0e0e0;
            padding: 10px;
          }
    
    
        h3{
            font-size: 10px;
         font-family: 'dm sans', sans-serif;
           color: #888d34;
        }

        a:hover{
            background-color: #888d34;
            font-weight: 400;
            color:#e6f2fa;
        }
        .mobile-container {
            max-width: 480px;
            margin: auto;
            padding: 10;
            height: 500px;;
            border-radius: 10px;
            display: block;
            padding-bottom: 20px;
          }
          
        
          
          .topnav #myLinks {
            display: none;
          }
          
          .topnav a {
            color: black;
            padding: 10px;
            text-decoration: none;
            font-family: 'dm-sans', sans-serif;
            font-size: 10px;
            display: block;
            font-weight: 300;
            text-align: left;
            color: #888d34;
            background-color: #2a0220;
            z-index:1;
           
          }
          
          .topnav a.icon {
          
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
          }
          
          .topnav a:hover {
            background-color: #f39cb3;
           
          }
          
          .active {
        
           color: white;
          }
    
    
  
    
      
    
        .flex-container-header {
          display: none;
        }
    
       
    
          .flex-container-bottom {
            display: none;
          }
    
       .flex-container1,.flex-container2,.flex-container3{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        text-align: center;
        padding: 0;
       
       
       }
    
    .flex-item2{
      
        height: 50vh;
    }
       .flex-item1,.flex-item2,.flex-item3{
        display: flex;
        width: 100%;
 
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 40px;
       
       }

.flex-item1{
   
    height: 40vh;
    margin-top: 0px;}

    .flex-item3{
       
        height: 40vh;
        margin-top: 0px;}
    
    hr{
        display: flex;
        color: #f39cb3;
        border: .5px solid #f39cb3;
       }

       h6 {
        font-size: 20px;
        font-family: 'dm sans', sans-serif;
        color: #2a0220;
        font-weight: 100;
    }

    .parent-container{
        display: block;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

/* Container styles */
.scrolling-text-container {
    display: block;
      border-radius: 4px;
      overflow: hidden;
      background-color:#f39cb3;
      
      bottom: 0px;
      margin-right: auto;
      margin-left: auto;
     
  }
  
  /* Inner container styles */
  .scrolling-text-inner {
      display: flex;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 600;
      padding: 8px 0;
     
  }
  
  /* Text styles */
  .scrolling-text {
      display: flex;
     
  }
  
  .scrolling-text-item {
      padding: 0 30px;
  
  }
  
  /* Apply the animation to the text items */
  .scrolling-text-inner>div {
      animation: var(--direction) var(--marquee-speed) linear infinite;
  }
  
  /* Pause the animation when a user hovers over it */
  .scrolling-text-container:hover .scrolling-text-inner>div {
      animation-play-state: paused;
  }
  
  /* Setting the Animation using Keyframes */
  @keyframes scroll-left {
      0% {
          transform: translateX(0%);
      }
  
      100% {
          transform: translateX(-100%);
      }
  }
  
  @keyframes scroll-right {
      0% {
          transform: translateX(-100%);
      }
  
      100% {
          transform: translateX(0%);
      }
  }






  
    /* Container styles */
    .scrolling-text-container {
        display: block;
          border-radius: 4px;
          overflow: hidden;
          background-color:#f39cb3;
         
      }
      
      /* Inner container styles */
      .scrolling-text-inner {
          display: flex;
          white-space: nowrap;
          font-size: 16px;
          font-weight: 600;
          padding: 8px 0;
         
      }
      
      /* Text styles */
      .scrolling-text {
          display: flex;
         
      }
      
      .scrolling-text-item {
          padding: 0 30px;
      
      }
      
      /* Apply the animation to the text items */
      .scrolling-text-inner>div {
          animation: var(--direction) var(--marquee-speed) linear infinite;
      }
      
      /* Pause the animation when a user hovers over it */
      .scrolling-text-container:hover .scrolling-text-inner>div {
          animation-play-state: paused;
      }
      
      /* Setting the Animation using Keyframes */
      @keyframes scroll-left {
          0% {
              transform: translateX(0%);
          }
      
          100% {
              transform: translateX(-100%);
          }
      }
      
      @keyframes scroll-right {
          0% {
              transform: translateX(-100%);
          }
      
          100% {
              transform: translateX(0%);
          }
      }
      }    
  
  
  
  
  
  
  
      
      
  
  
  
  
  
  
  
     







  
  









    
    
    
    
    
    
     