*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}

body{
   
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-attachment: fixed;
    background-size: contain; */
}

@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }


  a{
    text-decoration: none;
    color: black;

  }

  #home:hover{
    background-color: #F4D0D0;
   font-weight: 400;
  }

    #contact:hover{
        background-color: #F4D0D0;
        font-weight: 400;
    }

    #header2:hover{
        color:#F4D0D0;
        font-weight: 400;
    }


.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 16px;
    color: black;
    z-index: 1;
    }

    .flex-container-header2{
        display: flex;
        flex-direction: column;
       
        font-family: 'dm sans', sans-serif;
        font-weight: 100;
        padding: 10px;
        font-size: 14px;
        color: black;
        z-index: 1;
        }

    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
      
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 16px;
        color: black;
        }
    
    
a{
    text-decoration: none;
}




.parent-container {
    display: flex; /* Aligns child elements in a row */
    flex-wrap: nowrap; /* Ensures no wrapping */
    width: 100%; /* Full width for the parent */
    height: 100vh; /* Full viewport height */
    flex-direction: row; 
   
   
}

.flex-container1 {
width: 100%;
height: 100%;
text-align: right; /* Align text to the right */
display: flex; /* Optional if you need additional flexbox layout inside */
flex-direction: row; /* Optional for stacking elements */

}

.flex-container2 {
 width: 100%;

    height: 100%;
    text-align: right; /* Align text to the right */
    display: flex; /* Optional if you need additional flexbox layout inside */
    flex-direction: row; /* Optional for stacking elements */ /* Align children to the bottom if necessary */
  
}




.flex-item1{
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100vh; /* Matches parent's height */
    flex-wrap: nowrap;
 align-items: center;
    justify-content: center;
    flex-direction: row;
    /* background-color:#FFFBE6; */

}

.flex-item2{
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100vh; /* Matches parent's height */
    flex-wrap: wrap;
    flex-direction: row;
  
    background-color: orange;
    

}

h1{
    font-size: 80px;
    font-family: 'louise', san-serif;
    font-weight:200;
  display: flex;
    line-height: 0.8;
    padding: 0;
    
}




p{
    display: flex;
    font-size: 12px;
    font-family: 'dm sans', sans-serif;
    font-weight:200;
    line-height: 0;

 
    
}

#polaroid{
    width: 80%;
    height: 90%;
   position: absolute;
    margin-left: 300px;
    margin-bottom: 200px;
z-index:-1;

}

#polaroid1{
    width: 80%;
    height: 90%;
   position: absolute;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right:300px;
    z-index:-1;

}

#selfie1{
    width: 90%;
    height: 60%;
    padding: 10px;
   
}

#text1{
    width: 45%;
    height: 30%;
    font-size: 14px;
    font-family: 'dm sans', sans-serif;
    font-weight:200;
    padding: 10px;
    color: black;
    text-align: center;
   
    
}
