*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}

html, body {
    height: 100%;
    width: 100%;
}

body{
   
    overflow-x: hidden;
    /* overflow-y: hidden; */
  
 
}

.mobile-container {
    max-width: 480px;
    margin: auto;
    
    height: 500px;;
    border-radius: 10px;
    display: none;
    padding-bottom: 20px;
  }
  

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'courier new', sans-serif;
    font-size: 17px;
    display: none;
   
  }
  
  .topnav a.icon {
  
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #da407b;
   
  }
  
  .active {

    color: #F2F0EB;
  }



.scrolling-text-container {
    display: none;
  }
@font-face{
    font-family: "Not Courier Sans";
    src: url("../media/fonts/NotCourierSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family: "Rosindale";
    src: url("../media/fonts/fonts/Roslindale-DeckNarrowBold-Testing.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family: "Muelsinato";
    src: url("media/fonts/Muelsinato.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face{
    font-family: "elipse";
    src: url("media/fonts/elipse.otf") format("otf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
 

@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Louise';
    src: url('../media/fonts/Louise-Regular copy.otf') format('otf');
 
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Avara';
    src: url('../media/fonts/Avara-Black.eot') format('ttf');
 
    font-weight: normal;
    font-style: normal;
  
  }


  @font-face {
    font-family: 'Picaflor';
    src: url('../media/fonts/Picaflor-12pt.eot') format('eot');
    src: url('../media/fonts/Picaflor-12pt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 14px;
    color: black;
    }

 
    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
      
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: black;
        }
    
a{
    text-decoration: none;
    color: black;

}



#home:hover{
    background-color: #D0C743;
    font-weight: 400;
}

#contact:hover{
    background-color: #D0C743;
    font-weight: 400;
}

#header2:hover{
    background-color: #D0C743;
    font-weight: 400;
}


#h3:hover{
    background-color: #D0C743;
    font-weight: 500;
}

/* Container styles */
.scrolling-text-container {
  
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 30px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.flex-container1 {
       
    width: 100%;
    height: 100vh;

    display: flex; /* Optional if you need additional flexbox layout inside */
    flex-direction: row; /* Optional for stacking elements */
     /* Align children to the bottom if necessary */
     justify-content: left;
     align-items: column;
   
    }


    
  .parent-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Ensure no overflow */
    width: 100%;
    height: 100vh;
    align-items: flex-start;
  
}
      
     
    

    .flex-container2 {
         
        width: 100%;
        height: 100vh;
    
        display: flex; /* Optional if you need additional flexbox layout inside */
        flex-direction: row; /* Optional for stacking elements */
         /* Align children to the bottom if necessary */
         justify-content: left;
         align-items: left;
     
     
    }
    

 


.flex-item1{
    display: flex;
    width: 33%;
    height: 100vh;
  flex-wrap: nowrap;
   flex-direction: column;
   justify-content: left;
   align-items: center;
   
   
}

.flex-item2{
    display: flex;
    width: 33%;
    height: 100vh;
    flex-wrap: nowrap;
   flex-direction: column;
   justify-content: left;
   align-items: left;

   
  


}

.flex-item3{
    display: flex;
    width: 33%;
    height: 100vh;
    flex-wrap: nowrap;
    flex-direction: column;

 justify-content: center;
    align-items: center;

}

#name{
    font-size: 80px;
    font-family: 'Rosindale', serif;
    font-weight: 100;
   color: #0A5D4C;
   letter-spacing: 2px;
   padding: 10px;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}



h1{
    font-size: 18px;
    font-family: 'playfair display', serif;
    font-weight: 200;
   color: #0A5D4C;
 

  
}




hr{
    color: #ff7bc9;
    border: .5px solid #ff7bc9;
   }

 

h2{
    font-size: 30px;
    font-family: 'Picaflor', serif;
   
   color: #ff7bc7;
   
}

h3{
    font-size: 14px;
    font-family: "dm sans", sans-serif;
    font-weight: 300;
   color: #0A5D4C;
   
}

h4{
    font-size: 20px;
    font-family: 'louise', sans-serif;
}


#polaroid{
    width: 10%;
    height: 10%;



}

#polaroid1{
    width: 10%;
    height: 10%;


 

}


#polaroid-container {
    position: relative;  /* Sets the stacking context */
    width: 70%;          /* Adjust width as needed */
    height: 50vh;        /* Adjust height to fit images */
    margin: auto;
    display: flex;       /* Optional if you need additional flexbox layout inside */
    flex-direction: column; /* Optional for stacking elements */
    margin-top: 0px;

   
}

#polaroid, #polaroid1 {
    position: absolute;  /* Stack on top of each other */
    top: 0;
    left: 0;
    width: 100%;         /* Ensure same width */
    height: auto;        /* Maintain aspect ratio */
}



#discohat{
    width: 80%;
    height: 50%;
   
}


#sushi{
    width: 100%;
    height: 50%;
   
}

  
#about{
    font-size: 12px;
    font-family: 'dm sans', sans-serif;
    font-weight: 300;
    color: #0A5D4C;
    margin-top: 250px;
    padding: 50px;}

      
#about2{
    font-size: 12px;
    font-family: 'dm sans', sans-serif;
    font-weight: 300;
    color: #0A5D4C;
    padding: 50px;}



    .mobile-container {
        max-width: 480px;
        margin: auto;
        
        height: 500px;;
        border-radius: 10px;
        display: none;
        padding-bottom: 20px;
      }
      
    
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-family: 'courier new', sans-serif;
        font-size: 17px;
        display: none;
       
      }
      
      .topnav a.icon {
      
        display: none;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #da407b;
       
      }
      
      .active {
    
        color: #F2F0EB;
      }
    
    
    
    
    

      @media screen and (max-width: 480px) {
        body{
       
            overflow-x: hidden;
            /* overflow-y: hidden; */
          
         
        }
    
        .mobile-container {
            max-width: 480px;
            margin: auto;
            padding: 10;
            height: 500px;
            border-radius: 10px;
            display: block;
            padding-bottom: 20px;
            background-color: #007668;
            color: #e6f2fa;
          }
          
        
          
          .topnav #myLinks {
            display: none;
          }
          
          .topnav a {
            color: black;
            padding: 10px;
            text-decoration: none;
            font-family: 'courier new', sans-serif;
            font-size: 14px;
            display: block;
            font-weight: 300;
            text-align: left;
            /* background-color: #007668; */
            
           
          }
          
          .topnav a.icon {
          
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
            color: black;
          }
          
          .topnav a:hover {
            background-color: #007668;
            color: black;
           
          }
          
          .active {
        
           color: white;
          }
    
    
    .flex-item{
        margin-top: 0;
    }
    
    
  
    
      
    
        .flex-container-header {
          display: none;
        }
    
       
    
          .flex-container-bottom {
            display: none;
          }
    
       .flex-container1{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        padding: 0;
       
       
       }
    
       .flex-item1{
        display: flex;
        width: 100%;
        height: 50vh;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin-top: 40px;
       
       }


       .flex-item2{
        display: flex;
        width: 100%;
        height: 50vh;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 0;
       
       }
    


       .flex-item3{
        display: flex;
        width: 100%;
        height: 50vh;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 0;
      
       }
    
    
    
    
    .parent-container{
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
 
    

    #mobile-text:hover{
    background-color:#007668;
    }
    

/* Container styles */
.scrolling-text-container {
    display: block;
      border-radius: 4px;
      overflow: hidden;
      background-color:#007668;
     
  }
  
  /* Inner container styles */
  .scrolling-text-inner {
      display: flex;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 600;
      padding: 8px 0;
     
  }
  
  /* Text styles */
  .scrolling-text {
      display: flex;
     
  }
  
  .scrolling-text-item {
      padding: 0 30px;
  
  }
  
  /* Apply the animation to the text items */
  .scrolling-text-inner>div {
      animation: var(--direction) var(--marquee-speed) linear infinite;
  }
  
  /* Pause the animation when a user hovers over it */
  .scrolling-text-container:hover .scrolling-text-inner>div {
      animation-play-state: paused;
  }
  
  /* Setting the Animation using Keyframes */
  @keyframes scroll-left {
      0% {
          transform: translateX(0%);
      }
  
      100% {
          transform: translateX(-100%);
      }
  }
  
  @keyframes scroll-right {
      0% {
          transform: translateX(-100%);
      }
  
      100% {
          transform: translateX(0%);
      }
  }
  
  






    
    }
    
    
    
    
     