*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}

@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }


  a{
    text-decoration: none;
    color:#0A5D4C;
  }

  a:hover{
  background-color: #C69403;
    font-weight: 400;
  text-decoration: none;
  }

.parent-container{
    display: flex; /* Arrange all child elements in a single line */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    height: 100%; /* Full height */
    flex-direction: row; /* Horizontal alignment of children */
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Align items at the top */
    gap: 10px; /* Add spacing between child elements */
 
    
}

.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 16px;
    color: black;
    }


    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
      
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 16px;
        color: black;
        }

  
    p{
        font-size: 12px;
        font-family: 'dm sans', sans-serif;
        font-weight: 300;
        justify-content: center;
        padding: 10px;
        color: #0A5D4C;
    }
    



    
 

h1{
    font-family:'isenheim';
    font-size: 70px;
    padding: 10px;
}

h2{
    font-size: 14px;
        font-family: 'dm sans', sans-serif;
        font-weight: 400;
        justify-content: center;
        padding: 10px;
        color: #0A5D4C;
    
}

h3{
    font-size: 14px;
    font-family: 'dm sans', sans-serif;
    font-weight:200;
    color: black;
    justify-content: left;
    align-items: left;
    padding: 10px;
    
}




    
#one{
    width: 100%;
    height: auto;
    object-position: 50% 20%;

    
}  

#one:hover{
    opacity: 0.3;
}




.row {
    flex: 1; /* Occupy more space relative to .flex-container1 */
    display: flex; /* Flexbox for aligning .column items */
    flex-wrap: nowrap; /* Keep items on one line */
 
    gap: 20px; /* Space between .column items */
   


}

.column {
    flex: 1; /* All columns take equal space */
    width: 100%; /* Ensure each column doesn't exceed its container */
    padding: 0px; /* Remove extra padding */
    box-sizing: border-box; /* Include padding in width calculations */

}

.column img {
    width: 100%; /* Responsive image width */
    margin: 5px; /* Space around each image */
    vertical-align: middle;
   
}

#item-text{
    width: 100%; /* Responsive image width */
    margin: 5px; /* Space around each image */
    vertical-align: middle;  
}

/* Responsive layout - two columns for smaller screens */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - single column for smallest screens */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

