*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}

@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }


  a{
    text-decoration: none;
    color:#0A5D4C;
  }

  a:hover{
  background-color: #0A5D4C;
  color: white;
  text-decoration: none;
  }

.parent-container{
    display: flex; /* Arrange all child elements in a single line */
    flex-wrap: nowrap; /* Prevent wrapping */
    height: 100%; /* Make sure it spans the full height if necessary */
    flex-direction: row; /* Ensure items are arranged in a row */
    justify-content: space-between; /* Add space between elements */
    align-items: flex-start; /* Align items at the top */
    gap: 10px; /* Add spacing between child elements */
    
}

.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 16px;
    color: black;
    }


    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
      
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 16px;
        color: black;
        }

    .flex-container1{
        flex: 1; /* Make it take one part of the available space */
        width: 20%; /* Optional: Specify a fixed width if needed */
        display: flex;
        flex-direction: column; /* Ensure content inside stacks vertically */
        align-items: center; /* Center align items inside */
        background-color: green;
    
    }

    p{
        font-size: 14px;
        font-family: 'dm sans', sans-serif;
        font-weight: 300;
        color: black;
        justify-content: center;
        padding: 20px;
        color: #0A5D4C;
    }
    



    
 

h1{
    font-family:'isenheim';
    font-size: 70px;
    padding: 10px;
}

h2{
    font-size: 20px;
    font-family: 'dm sans', sans-serif;
    font-weight:100;
    color: black;
    justify-content: center;
    align-items: center;
    
}

h3{
    font-size: 16px;
    font-family: 'dm sans', sans-serif;
    font-weight:200;
    color: black;
    justify-content: left;
    align-items: left;
    padding: 10px;
    
}




    
#one{
    width: 100%;
    height: auto;
    object-position: 50% 20%;

    
}  

#one:hover{
    opacity: 0.3;
}




.row {

    display: flex; /* Ensure the items inside align in a row */
    flex-wrap: nowrap; /* Prevent wrapping */
    background-color: blue;
   


}

.column {
    flex: 1; /* Each column takes equal space */
    max-width: 100%; /* Restrict the maximum width */
    padding: 0px; /* Inner spacing */
    box-sizing: border-box; /* Include padding in total size */
    background-color: purple;
}

.column img {
    width: 100%; /* Responsive image width */
    margin: 5px; /* Space around each image */
    vertical-align: middle;
   
}

/* Responsive layout - two columns for smaller screens */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - single column for smallest screens */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

