*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}
.mobile-container {
    max-width: 480px;
    margin: auto;
    
    height: 500px;;
    border-radius: 10px;
    display: none;
    padding-bottom: 20px;
  }
  

  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'courier new', sans-serif;
    font-size: 17px;
    display: none;
   
  }
  
  .topnav a.icon {
  
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #da407b;
   
  }
  
  .active {

    color: #F2F0EB;
  }



body .mobile-container {
    display: none;
}


@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Picaflor';
    src: url('../media/fonts/Picaflor-12pt.eot') format('eot');
    src: url('../media/fonts/Picaflor-12pt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Rosindale-VF';
   
    src: url('../media/fonts/fonts/RoslindaleVariable-VF[Display]-Testing.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Louise';
    src: url('../media/fonts/Louise-Regular copy.otf') format('otf');
    src: url('../media/fonts/Louise-Regular.woff') format('woff');
    src: url('../media/fonts/Louise-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
  }

    
  a{
    text-decoration: none;
    color: #e0e0e0;

}



#home:hover{
    background-color: #888d34;
    font-weight: 400;
    color:#e6f2fa;
}

#contact:hover{
    background-color: #888d34;
    font-weight: 400;
    color:#e6f2fa;
}

#header2:hover{
    background-color: #888d34;
    font-weight: 400;
    color:#e6f2fa;
}


#h3:hover{
    background-color: #888d34;
    font-weight: 500;
    color:#e6f2fa;
}


.parent-container {
    display: flex; /* Aligns child elements in a row */
    flex-wrap: nowrap; /* Ensures no wrapping */
    width: 100%; /* Full width for the parent */
    height: 100vh; /* Full viewport height */
    flex-direction: column; 
   
}

.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 14px;
    color: black;
    /* background-color: #e7f3fb; */
    }

 
    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
      
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: black;
        }

.flex-container-top {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
   /* background-color: #b8eea2; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.flex-container {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
   
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 1px 1px 1px #F36840; */
}


.flex-container2 {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.flex-container3 {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
    background-color: #2a0220;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.flex-container3 {
    display: flex;
    width: 100%;
    height: auto; 
    flex-wrap: nowrap;
   
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.flex-container4{
    display: flex;
    width: 100%; /* Takes up half the width */
    height: auto; /* Matches parent's height */
    flex-wrap: nowrap;
    background-color:#f39cb3;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.flex-container5{
    display: flex;
    width: 100%; /* Takes up half the width */
    height: auto; /* Matches parent's height */
    flex-wrap: nowrap;
    background-color:#888d34;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}




.flex-item1{
    display: flex;
    width: 30%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-item2{
    display: flex;
    width: 70%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.flex-item3{
    display: flex;
    width: 70%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}





        h1{
            font-size: 150px;
            font-family: 'Rosindale-VF', serif;
            font-weight: 100;
            align-items: center;
            letter-spacing: 2px;
            justify-content: center;
           align-items: center;
           padding-top: 60px;
           color: #ff7bc8;
        }


        h2{
            font-size: 22px;
            font-family: 'dm sans', sans-serif;
            font-weight:200;
        padding-top: 20px;
        /* border: 1px solid black;
        border-radius: 50%; */
        padding: 20px;
      
        color: #e0e0e0;
           
          
        }

        
        p{
            font-size: 16px;
            font-family: 'dm sans', sans-serif;
            font-weight:200;
            color: #e0e0e0;
            padding: 40px;
         
            
        }
        

        h4{
            font-family:'Courier New', Courier, monospace;
            font-size: 16px;
            font-weight: 200;
            position: absolute;
           margin-top: 20px;
           margin-right: 20px;
            right: 0;
            color: #e0e0e0;
          }
        

          .scrolling-text-container {
            display: none;
          }





    
        
      /* General Mobile Styles */
@media screen and (max-width: 480px) {
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .container {
        max-width: 100%;
        overflow: hidden;
    }
    

    .mobile-container {
        max-width: 480px;
        margin: auto;
        padding: 10;
        height: 500px;;
        border-radius: 10px;
        display: block;
        padding-bottom: 20px;
      }
      
    
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: black;
        padding: 10px;
        text-decoration: none;
        font-family: 'dm-sans', sans-serif;
        font-size: 14px;
        display: block;
        font-weight: 300;
        text-align: left;
        color: #888d34;
        background-color: #2a0220;
        z-index:1;
       
      }
      
      .topnav a.icon {
      
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px;
      }
      
      .topnav a:hover {
        background-color: #f39cb3;
       
      }
      
      .active {
    
       color: white;
      }



      h3{
        font-size: 20px;
        font-family: 'dm sans', sans-serif;
        color: #2a0220;
        font-weight: 100;
       
    }



    body {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  
    .flex-container-header {
      display: none;
    }
  
   
    .flex-container-top h1 {
      font-size: 70px;
      text-align: center;
    }
  
    .flex-container {
      flex-direction: column;
      padding: 10px;
    }
  
    .flex-item1,
    .flex-item2 {
      margin: 10px 0;
    }
  
    .flex-item1 h2 {
      font-size: 18px;
      text-align: center;
    }
  
    .flex-item2 p {
      font-size: 14px;
      line-height: 1.5;
      text-align: justify;
    }
  
    .flex-container2,
    .flex-container3,
    .flex-container4,
    .flex-container5 {
      flex-direction: column;
      padding: 10px;
    }
  
    .flex-container-bottom {
      display: none;
    }
  
    .flex-container-bottom a {
      font-size: 14px;
      padding: 5px 10px;
      text-align: center;
    }


 /* Container styles */
 .scrolling-text-container {
    display: block;
      border-radius: 4px;
      overflow: hidden;
      background-color:#f39cb3;
     
  }
  
  /* Inner container styles */
  .scrolling-text-inner {
      display: flex;
      white-space: nowrap;
      font-size: 16px;
      font-weight: 600;
      padding: 8px 0;
     
  }
  
  /* Text styles */
  .scrolling-text {
      display: flex;
     
  }
  
  .scrolling-text-item {
      padding: 0 30px;
  
  }
  
  /* Apply the animation to the text items */
  .scrolling-text-inner>div {
      animation: var(--direction) var(--marquee-speed) linear infinite;
  }
  
  /* Pause the animation when a user hovers over it */
  .scrolling-text-container:hover .scrolling-text-inner>div {
      animation-play-state: paused;
  }
  
  /* Setting the Animation using Keyframes */
  @keyframes scroll-left {
      0% {
          transform: translateX(0%);
      }
  
      100% {
          transform: translateX(-100%);
      }
  }
  
  @keyframes scroll-right {
      0% {
          transform: translateX(-100%);
      }
  
      100% {
          transform: translateX(0%);
      }
  }
  }    

