*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}


@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }


    
a{
    text-decoration: none;
    color: black;

}

#home:hover{
    background-color: #F36840;
    font-weight: 400;
}

#contact:hover{
    background-color: #F36840;
    font-weight: 400;
}

#header2:hover{
    color:#F36840;
    font-weight: 400;
}

.parent-container {
    display: flex; /* Aligns child elements in a row */
    flex-wrap: nowrap; /* Ensures no wrapping */
    width: 100%; /* Full width for the parent */
    height: 100vh; /* Full viewport height */
    flex-direction: column; 
   
}

.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 18px;
    color: black;
    background-color: #D0C743;
    
  
    }

    .flex-container-header2{
        display: flex;
        flex-direction: column;
        font-family: 'dm sans', sans-serif;
        font-weight: 100;
        padding: 10px;
        font-size: 14px;
        color: black;
        z-index: 1;
        background-color: #D0C743;
        }

    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
     background-color: #F36840;
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 16px;
        color: black;
        }

.flex-container-top {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
   background-color: #D0C743;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.flex-container {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
    background-color: #D0C743;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 1px 1px 1px #F36840; */
}


.flex-container2 {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
   
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.flex-container3 {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
   
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.flex-container3 {
    display: flex;
    width: 100%; /* Takes up half the width */
    height: auto; /* Matches parent's height */
    flex-wrap: nowrap;
   
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px #C79503;
}

.flex-container4{
    display: flex;
    width: 100%; /* Takes up half the width */
    height: auto; /* Matches parent's height */
    flex-wrap: nowrap;
   background-color: #F4D0D0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.flex-container5{
    display: flex;
    width: 100%; /* Takes up half the width */
    height: auto; /* Matches parent's height */
    flex-wrap: nowrap;
   background-color: #D0C743;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}




.flex-item1{
    display: flex;
    width: 30%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flex-item2{
    display: flex;
    width: 70%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.flex-item3{
    display: flex;
    width: 70%; /* Takes up half the width */
    height: 100%; /* Matches parent's height */
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}





        h1{
            font-size: 130px;
            font-family: 'Playfair Display', serif;
            font-weight: 400;
            align-items: center;
            letter-spacing: 2px;
            justify-content: center;
           align-items: center;
           padding-top: 60px;
        }


        h2{
            font-size: 22px;
            font-family: 'dm sans', sans-serif;
            font-weight:200;
        padding-top: 20px;
        /* border: 1px solid black;
        border-radius: 50%; */
        padding: 20px;
        border: .5px solid black;
        border-radius: 50%;
           
          
        }

        
        p{
            font-size: 16px;
            font-family: 'dm sans', sans-serif;
            font-weight:200;
           
            padding: 40px;
         
            
        }
        