*{
    margin: 0;
    padding: 0;
}

canvas{
    display: block;
    
}

html, body {
    height: 100%;
    width: 100%;
}

body{
   
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-attachment: fixed;
    background-size: contain; */
}

@font-face {
    font-family: 'isenheim';
    src: url('../media/fonts/Isenheim_Fin.otf') format('otf'),
         url('../media/fonts/Isenheim_Regulier.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Louise';
    src: url('../media/fonts/Louise-Regular copy.otf') format('otf');
 
    font-weight: normal;
    font-style: normal;
  
  }

  .parent-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Ensure no overflow */
    width: 100%;
    height: 100vh;
 
  
}

.flex-container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'dm sans', sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 16px;
    color: black;
    }

    .flex-container-header2{
        display: flex;
        flex-direction: column;
        font-family: 'dm sans', sans-serif;
        font-weight: 100;
        padding: 10px;
        font-size: 14px;
        color: black;
        z-index: 1;
       
        }
    .flex-container-bottom{
        position: fixed; /* Anchor to the viewport */
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 2vw;
      
        font-family: 'DM Sans', sans-serif;
        font-weight: 100;
        font-size: 16px;
        color: black;
        }
    
a{
    text-decoration: none;
    color: black;

}



#home:hover{
    background-color: #D0C743;
    font-weight: 400;
}

#contact:hover{
    background-color: #D0C743;
    font-weight: 400;
}

#header2:hover{
    color: #D0C743;
    font-weight: 400;
}


#h3:hover{
    color: #D0C743;
    font-weight: 500;
}

#home{
    background-color: #F4D0D0;
}

#contact{
    background-color: #F4D0D0;
}

.flex-item2{
    display: flex;
    width: 70%;
    height: auto;
  flex-wrap: nowrap;
   flex-direction: row;
   justify-content: right;
   align-items: right;
  margin-left: 100px;
  margin-top: 50px;

   
   
    
}


.flex-item{
    display: flex;
    width: 70%;
    height: auto;
  flex-wrap: nowrap;
   flex-direction: row;
   justify-content: right;
   align-items: right;
   background-color: yellow;
  
}

h1{
    font-size: 200px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    align-items: center;
    justify-content: right;
    align-items: right;
    padding-right: 60px;
    line-height: 1;

  
}

h2{
    font-size: 16px;
    font-family: 'dm sans', sans-serif;
    font-weight:100;
   
    align-items: right;
    text-align: right;
    padding: 20px;
    margin: 0;

    
}

h3{
    font-size: 100px;
    font-family: 'louise', san-serif;
    font-weight:200;
    padding-right: 60px;
    line-height: 0.6;
    
}


h4{
    font-size: 18px;
    font-family: 'dm sans', sans-serif;
    font-weight:400;
    align-items: right;
    text-align: right;
  
    margin: 0;
    line-height: 1;
    
}

 

    .flex-container1 {
        flex: 1;
    max-width: 60%;
    padding: 10px;
    height: 100%;
    text-align: right; /* Align text to the right */
    display: flex; /* Optional if you need additional flexbox layout inside */
    flex-direction: column; /* Optional for stacking elements */
     /* Align children to the bottom if necessary */
    align-items: flex-end;
    }

    .flex-container2 {
        flex: 1;
        max-width: 40%;
        padding: 10px;
        height: 100%;
        text-align: right; /* Align text to the right */
        display: flex; /* Optional if you need additional flexbox layout inside */
        flex-direction: column; /* Optional for stacking elements */ /* Align children to the bottom if necessary */
        align-items: flex-end;
    }
 

