<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.1</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern1.2</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern1.3</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern1.4</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern1.5</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern1.6</key>
	<array>
		<string>six</string>
	</array>
	<key>public.kern1.7</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern1.8</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>A.ss01</string>
		<string>Aacute.ss01</string>
		<string>Abreve.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Amacron.ss01</string>
		<string>Aogonek.ss01</string>
		<string>Aring.ss01</string>
		<string>Atilde.ss01</string>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>A.ss03</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>M.ss03</string>
		<string>A.ss04</string>
		<string>Aacute.ss04</string>
		<string>Abreve.ss04</string>
		<string>Acircumflex.ss04</string>
		<string>Adieresis.ss04</string>
		<string>Agrave.ss04</string>
		<string>Amacron.ss04</string>
		<string>Aogonek.ss04</string>
		<string>Aring.ss04</string>
		<string>Atilde.ss04</string>
		<string>A.ss05</string>
		<string>Aacute.ss05</string>
		<string>Abreve.ss05</string>
		<string>Acircumflex.ss05</string>
		<string>Adieresis.ss05</string>
		<string>Agrave.ss05</string>
		<string>Amacron.ss05</string>
		<string>Aogonek.ss05</string>
		<string>Aring.ss05</string>
		<string>Atilde.ss05</string>
		<string>A.ss06</string>
		<string>Aacute.ss06</string>
		<string>Abreve.ss06</string>
		<string>Acircumflex.ss06</string>
		<string>Adieresis.ss06</string>
		<string>Agrave.ss06</string>
		<string>Amacron.ss06</string>
		<string>Aogonek.ss06</string>
		<string>Aring.ss06</string>
		<string>Atilde.ss06</string>
		<string>A_A.dlig</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>B.ss01</string>
		<string>B.ss04</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>Cacute.ss06</string>
		<string>Ccaron.ss06</string>
		<string>Cdotaccent.ss06</string>
	</array>
	<key>public.kern1.C4</key>
	<array>
		<string>C.ss04</string>
		<string>Cacute.ss04</string>
		<string>Ccaron.ss04</string>
		<string>Ccedilla.ss04</string>
		<string>Cdotaccent.ss04</string>
	</array>
	<key>public.kern1.C6</key>
	<array>
		<string>C.ss06</string>
		<string>Ccedilla.ss06</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
		<string>OE.001</string>
		<string>E.ss03</string>
		<string>Eacute.ss03</string>
		<string>AE.ss04</string>
		<string>H_E.dlig</string>
	</array>
	<key>public.kern1.E1</key>
	<array>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecaron.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Edotaccent.ss01</string>
		<string>Egrave.ss01</string>
		<string>Emacron.ss01</string>
		<string>Eogonek.ss01</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.F1</key>
	<array>
		<string>F.ss01</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>G.ss06</string>
		<string>Gbreve.ss06</string>
		<string>uni0122.ss06</string>
		<string>Gdotaccent.ss06</string>
	</array>
	<key>public.kern1.G4</key>
	<array>
		<string>G.ss04</string>
		<string>Gbreve.ss04</string>
		<string>uni0122.ss04</string>
		<string>Gdotaccent.ss04</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>M</string>
		<string>H.ss01</string>
		<string>H.ss03</string>
		<string>M.ss04</string>
	</array>
	<key>public.kern1.J4</key>
	<array>
		<string>J.ss04</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
	</array>
	<key>public.kern1.K4</key>
	<array>
		<string>K.ss04</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>uniA746</string>
		<string>Ldot</string>
		<string>Lslash</string>
	</array>
	<key>public.kern1.L1</key>
	<array>
		<string>L.ss01</string>
	</array>
	<key>public.kern1.L2</key>
	<array>
		<string>L.ss02</string>
	</array>
	<key>public.kern1.M6</key>
	<array>
		<string>M.ss06</string>
	</array>
	<key>public.kern1.N</key>
	<array>
		<string>N</string>
		<string>Eng</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>O.ss03</string>
		<string>Oacute.ss03</string>
		<string>Ocircumflex.ss03</string>
		<string>Odieresis.ss03</string>
		<string>Ograve.ss03</string>
		<string>Ohungarumlaut.ss03</string>
		<string>Omacron.ss03</string>
		<string>Oslash.ss03</string>
		<string>Otilde.ss03</string>
		<string>O.ss04</string>
		<string>Oacute.ss04</string>
		<string>Ocircumflex.ss04</string>
		<string>Odieresis.ss04</string>
		<string>Ograve.ss04</string>
		<string>Ohungarumlaut.ss04</string>
		<string>Omacron.ss04</string>
		<string>Oslash.ss04</string>
		<string>Otilde.ss04</string>
		<string>Q.ss04</string>
		<string>Q.ss06</string>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.P4</key>
	<array>
		<string>P.ss04</string>
	</array>
	<key>public.kern1.P6</key>
	<array>
		<string>P.ss06</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>uni0156</string>
	</array>
	<key>public.kern1.R1</key>
	<array>
		<string>R.ss01</string>
	</array>
	<key>public.kern1.R3</key>
	<array>
		<string>R.ss03</string>
	</array>
	<key>public.kern1.R4</key>
	<array>
		<string>R.ss04</string>
	</array>
	<key>public.kern1.R6</key>
	<array>
		<string>R.ss06</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>S.ss06</string>
		<string>Scedilla.ss06</string>
		<string>uni0218.ss06</string>
		<string>dollar</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>uni021A</string>
	</array>
	<key>public.kern1.T1</key>
	<array>
		<string>T.ss01</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>IJ</string>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>J.ss01</string>
		<string>J.ss06</string>
		<string>J.ss09</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss03</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Yacute.ss04</string>
		<string>Ycircumflex.ss04</string>
		<string>Ydieresis.ss04</string>
		<string>Ygrave.ss04</string>
		<string>yen</string>
	</array>
	<key>public.kern1.Y4</key>
	<array>
		<string>Y.ss04</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern1.Z1</key>
	<array>
		<string>Z.ss01</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
		<string>ampersand.ss09</string>
	</array>
	<key>public.kern1.aste</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern1.bslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.esszet1</key>
	<array>
		<string>uni1E9E.ss01</string>
	</array>
	<key>public.kern1.eszett</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>public.kern1.guilleleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guilleright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>public.kern1.periodcenter</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>public.kern1.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quotedblleft.ss08</string>
	</array>
	<key>public.kern1.quotedblright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblright.ss08</string>
	</array>
	<key>public.kern1.sign</key>
	<array>
		<string>uni2055</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern1.tiret</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>plus</string>
		<string>equal</string>
	</array>
	<key>public.kern1.under</key>
	<array>
		<string>underscore</string>
	</array>
	<key>public.kern2.1</key>
	<array>
		<string>one</string>
	</array>
	<key>public.kern2.2</key>
	<array>
		<string>two</string>
	</array>
	<key>public.kern2.3</key>
	<array>
		<string>three</string>
	</array>
	<key>public.kern2.4</key>
	<array>
		<string>four</string>
	</array>
	<key>public.kern2.5</key>
	<array>
		<string>five</string>
	</array>
	<key>public.kern2.7</key>
	<array>
		<string>seven</string>
	</array>
	<key>public.kern2.8</key>
	<array>
		<string>eight</string>
	</array>
	<key>public.kern2.9</key>
	<array>
		<string>nine</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>A.ss01</string>
		<string>Aacute.ss01</string>
		<string>Abreve.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Amacron.ss01</string>
		<string>Aogonek.ss01</string>
		<string>Aring.ss01</string>
		<string>Atilde.ss01</string>
		<string>A.ss02</string>
		<string>Aacute.ss02</string>
		<string>Abreve.ss02</string>
		<string>Acircumflex.ss02</string>
		<string>Adieresis.ss02</string>
		<string>Agrave.ss02</string>
		<string>Amacron.ss02</string>
		<string>Aogonek.ss02</string>
		<string>Aring.ss02</string>
		<string>Atilde.ss02</string>
		<string>A.ss03</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>M.ss03</string>
		<string>A.ss04</string>
		<string>Aacute.ss04</string>
		<string>Abreve.ss04</string>
		<string>Acircumflex.ss04</string>
		<string>Adieresis.ss04</string>
		<string>Agrave.ss04</string>
		<string>Amacron.ss04</string>
		<string>Aogonek.ss04</string>
		<string>Aring.ss04</string>
		<string>Atilde.ss04</string>
		<string>AE.ss04</string>
		<string>A.ss06</string>
		<string>Aacute.ss06</string>
		<string>Abreve.ss06</string>
		<string>Acircumflex.ss06</string>
		<string>Adieresis.ss06</string>
		<string>Agrave.ss06</string>
		<string>Amacron.ss06</string>
		<string>Aogonek.ss06</string>
		<string>Aring.ss06</string>
		<string>Atilde.ss06</string>
		<string>A_A.dlig</string>
	</array>
	<key>public.kern2.A5</key>
	<array>
		<string>A.ss05</string>
		<string>Aacute.ss05</string>
		<string>Abreve.ss05</string>
		<string>Acircumflex.ss05</string>
		<string>Adieresis.ss05</string>
		<string>Agrave.ss05</string>
		<string>Amacron.ss05</string>
		<string>Aogonek.ss05</string>
		<string>Aring.ss05</string>
		<string>Atilde.ss05</string>
	</array>
	<key>public.kern2.H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>uni0156</string>
		<string>B.ss01</string>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecaron.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Edotaccent.ss01</string>
		<string>Egrave.ss01</string>
		<string>Emacron.ss01</string>
		<string>Eogonek.ss01</string>
		<string>F.ss01</string>
		<string>H.ss01</string>
		<string>L.ss01</string>
		<string>R.ss01</string>
		<string>L.ss02</string>
		<string>E.ss03</string>
		<string>Eacute.ss03</string>
		<string>Ecircumflex.ss03</string>
		<string>Edieresis.ss03</string>
		<string>Egrave.ss03</string>
		<string>H.ss03</string>
		<string>R.ss03</string>
		<string>B.ss04</string>
		<string>K.ss04</string>
		<string>M.ss04</string>
		<string>P.ss04</string>
		<string>R.ss04</string>
		<string>P.ss06</string>
		<string>R.ss06</string>
		<string>H_E.dlig</string>
		<string>L_L.dlig</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.J1</key>
	<array>
		<string>J.ss01</string>
	</array>
	<key>public.kern2.J4</key>
	<array>
		<string>J.ss04</string>
	</array>
	<key>public.kern2.J6</key>
	<array>
		<string>J.ss06</string>
	</array>
	<key>public.kern2.Jswash</key>
	<array>
		<string>J.ss09</string>
	</array>
	<key>public.kern2.Lbroken</key>
	<array>
		<string>uniA746</string>
	</array>
	<key>public.kern2.M6</key>
	<array>
		<string>M.ss06</string>
	</array>
	<key>public.kern2.N</key>
	<array>
		<string>M</string>
		<string>N</string>
		<string>Eng</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>OE.001</string>
		<string>Ccedilla.ss01</string>
		<string>O.ss03</string>
		<string>Oacute.ss03</string>
		<string>Ocircumflex.ss03</string>
		<string>Odieresis.ss03</string>
		<string>Ograve.ss03</string>
		<string>Ohungarumlaut.ss03</string>
		<string>Omacron.ss03</string>
		<string>Oslash.ss03</string>
		<string>Otilde.ss03</string>
		<string>C.ss04</string>
		<string>Cacute.ss04</string>
		<string>Ccaron.ss04</string>
		<string>Ccedilla.ss04</string>
		<string>Cdotaccent.ss04</string>
		<string>G.ss04</string>
		<string>Gbreve.ss04</string>
		<string>uni0122.ss04</string>
		<string>Gdotaccent.ss04</string>
		<string>O.ss04</string>
		<string>Oacute.ss04</string>
		<string>Ocircumflex.ss04</string>
		<string>Odieresis.ss04</string>
		<string>Ograve.ss04</string>
		<string>Ohungarumlaut.ss04</string>
		<string>Omacron.ss04</string>
		<string>Oslash.ss04</string>
		<string>Otilde.ss04</string>
		<string>Q.ss04</string>
		<string>C.ss06</string>
		<string>Cacute.ss06</string>
		<string>Ccaron.ss06</string>
		<string>Ccedilla.ss06</string>
		<string>Cdotaccent.ss06</string>
		<string>G.ss06</string>
		<string>Gbreve.ss06</string>
		<string>uni0122.ss06</string>
		<string>Gdotaccent.ss06</string>
		<string>Q.ss06</string>
		<string>zero</string>
		<string>six</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>S.ss06</string>
		<string>Scedilla.ss06</string>
		<string>uni0218.ss06</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>uni021A</string>
	</array>
	<key>public.kern2.T1</key>
	<array>
		<string>T.ss01</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>W.ss03</string>
		<string>Wacute.ss03</string>
		<string>Wcircumflex.ss03</string>
		<string>Wdieresis.ss03</string>
		<string>Wgrave.ss03</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.X4</key>
	<array>
		<string>X.ss04</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Yacute.ss04</string>
		<string>Ycircumflex.ss04</string>
		<string>Ydieresis.ss04</string>
		<string>Ygrave.ss04</string>
		<string>yen</string>
	</array>
	<key>public.kern2.Y4</key>
	<array>
		<string>Y.ss04</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.Z1</key>
	<array>
		<string>Z.ss01</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
		<string>ampersand.ss09</string>
	</array>
	<key>public.kern2.aste</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>public.kern2.bslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.esszet1</key>
	<array>
		<string>uni1E9E.ss01</string>
	</array>
	<key>public.kern2.eszett</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>public.kern2.guilleleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>public.kern2.guilleright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.guillleleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
	</array>
	<key>public.kern2.periodcenter</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>public.kern2.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
		<string>quotedblleft.ss08</string>
	</array>
	<key>public.kern2.quotedblright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblright.ss08</string>
	</array>
	<key>public.kern2.sign</key>
	<array>
		<string>uni2055</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
	</array>
	<key>public.kern2.tiret</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>plus</string>
		<string>equal</string>
	</array>
	<key>public.kern2.under</key>
	<array>
		<string>underscore</string>
	</array>
</dict>
</plist>
