<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss01</key>
	<string>A_.ss01.glif</string>
	<key>A.ss02</key>
	<string>A_.ss02.glif</string>
	<key>A.ss03</key>
	<string>A_.ss03.glif</string>
	<key>A.ss04</key>
	<string>A_.ss04.glif</string>
	<key>A.ss05</key>
	<string>A_.ss05.glif</string>
	<key>A.ss06</key>
	<string>A_.ss06.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AE.ss04</key>
	<string>A_E_.ss04.glif</string>
	<key>A_A.dlig</key>
	<string>A__A_.dlig.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.ss01</key>
	<string>A_acute.ss01.glif</string>
	<key>Aacute.ss02</key>
	<string>A_acute.ss02.glif</string>
	<key>Aacute.ss03</key>
	<string>A_acute.ss03.glif</string>
	<key>Aacute.ss04</key>
	<string>A_acute.ss04.glif</string>
	<key>Aacute.ss05</key>
	<string>A_acute.ss05.glif</string>
	<key>Aacute.ss06</key>
	<string>A_acute.ss06.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Abreve.ss01</key>
	<string>A_breve.ss01.glif</string>
	<key>Abreve.ss02</key>
	<string>A_breve.ss02.glif</string>
	<key>Abreve.ss03</key>
	<string>A_breve.ss03.glif</string>
	<key>Abreve.ss04</key>
	<string>A_breve.ss04.glif</string>
	<key>Abreve.ss05</key>
	<string>A_breve.ss05.glif</string>
	<key>Abreve.ss06</key>
	<string>A_breve.ss06.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.ss01</key>
	<string>A_circumflex.ss01.glif</string>
	<key>Acircumflex.ss02</key>
	<string>A_circumflex.ss02.glif</string>
	<key>Acircumflex.ss03</key>
	<string>A_circumflex.ss03.glif</string>
	<key>Acircumflex.ss04</key>
	<string>A_circumflex.ss04.glif</string>
	<key>Acircumflex.ss05</key>
	<string>A_circumflex.ss05.glif</string>
	<key>Acircumflex.ss06</key>
	<string>A_circumflex.ss06.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.ss01</key>
	<string>A_dieresis.ss01.glif</string>
	<key>Adieresis.ss02</key>
	<string>A_dieresis.ss02.glif</string>
	<key>Adieresis.ss03</key>
	<string>A_dieresis.ss03.glif</string>
	<key>Adieresis.ss04</key>
	<string>A_dieresis.ss04.glif</string>
	<key>Adieresis.ss05</key>
	<string>A_dieresis.ss05.glif</string>
	<key>Adieresis.ss06</key>
	<string>A_dieresis.ss06.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.ss01</key>
	<string>A_grave.ss01.glif</string>
	<key>Agrave.ss02</key>
	<string>A_grave.ss02.glif</string>
	<key>Agrave.ss03</key>
	<string>A_grave.ss03.glif</string>
	<key>Agrave.ss04</key>
	<string>A_grave.ss04.glif</string>
	<key>Agrave.ss05</key>
	<string>A_grave.ss05.glif</string>
	<key>Agrave.ss06</key>
	<string>A_grave.ss06.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Amacron.ss01</key>
	<string>A_macron.ss01.glif</string>
	<key>Amacron.ss02</key>
	<string>A_macron.ss02.glif</string>
	<key>Amacron.ss03</key>
	<string>A_macron.ss03.glif</string>
	<key>Amacron.ss04</key>
	<string>A_macron.ss04.glif</string>
	<key>Amacron.ss05</key>
	<string>A_macron.ss05.glif</string>
	<key>Amacron.ss06</key>
	<string>A_macron.ss06.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aogonek.ss01</key>
	<string>A_ogonek.ss01.glif</string>
	<key>Aogonek.ss02</key>
	<string>A_ogonek.ss02.glif</string>
	<key>Aogonek.ss03</key>
	<string>A_ogonek.ss03.glif</string>
	<key>Aogonek.ss04</key>
	<string>A_ogonek.ss04.glif</string>
	<key>Aogonek.ss05</key>
	<string>A_ogonek.ss05.glif</string>
	<key>Aogonek.ss06</key>
	<string>A_ogonek.ss06.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Aring.ss01</key>
	<string>A_ring.ss01.glif</string>
	<key>Aring.ss02</key>
	<string>A_ring.ss02.glif</string>
	<key>Aring.ss03</key>
	<string>A_ring.ss03.glif</string>
	<key>Aring.ss04</key>
	<string>A_ring.ss04.glif</string>
	<key>Aring.ss05</key>
	<string>A_ring.ss05.glif</string>
	<key>Aring.ss06</key>
	<string>A_ring.ss06.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>Atilde.ss01</key>
	<string>A_tilde.ss01.glif</string>
	<key>Atilde.ss02</key>
	<string>A_tilde.ss02.glif</string>
	<key>Atilde.ss03</key>
	<string>A_tilde.ss03.glif</string>
	<key>Atilde.ss04</key>
	<string>A_tilde.ss04.glif</string>
	<key>Atilde.ss05</key>
	<string>A_tilde.ss05.glif</string>
	<key>Atilde.ss06</key>
	<string>A_tilde.ss06.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>B.ss04</key>
	<string>B_.ss04.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss04</key>
	<string>C_.ss04.glif</string>
	<key>C.ss06</key>
	<string>C_.ss06.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Cacute.ss04</key>
	<string>C_acute.ss04.glif</string>
	<key>Cacute.ss06</key>
	<string>C_acute.ss06.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccaron.ss04</key>
	<string>C_caron.ss04.glif</string>
	<key>Ccaron.ss06</key>
	<string>C_caron.ss06.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccedilla.ss01</key>
	<string>C_cedilla.ss01.glif</string>
	<key>Ccedilla.ss04</key>
	<string>C_cedilla.ss04.glif</string>
	<key>Ccedilla.ss06</key>
	<string>C_cedilla.ss06.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>Cdotaccent.ss04</key>
	<string>C_dotaccent.ss04.glif</string>
	<key>Cdotaccent.ss06</key>
	<string>C_dotaccent.ss06.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss01</key>
	<string>E_.ss01.glif</string>
	<key>E.ss03</key>
	<string>E_.ss03.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.ss01</key>
	<string>E_acute.ss01.glif</string>
	<key>Eacute.ss03</key>
	<string>E_acute.ss03.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecaron.ss01</key>
	<string>E_caron.ss01.glif</string>
	<key>Ecaron.ss03</key>
	<string>E_caron.ss03.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.ss01</key>
	<string>E_circumflex.ss01.glif</string>
	<key>Ecircumflex.ss03</key>
	<string>E_circumflex.ss03.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.ss01</key>
	<string>E_dieresis.ss01.glif</string>
	<key>Edieresis.ss03</key>
	<string>E_dieresis.ss03.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Edotaccent.ss01</key>
	<string>E_dotaccent.ss01.glif</string>
	<key>Edotaccent.ss03</key>
	<string>E_dotaccent.ss03.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.ss01</key>
	<string>E_grave.ss01.glif</string>
	<key>Egrave.ss03</key>
	<string>E_grave.ss03.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Emacron.ss01</key>
	<string>E_macron.ss01.glif</string>
	<key>Emacron.ss03</key>
	<string>E_macron.ss03.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eogonek.ss01</key>
	<string>E_ogonek.ss01.glif</string>
	<key>Eogonek.ss03</key>
	<string>E_ogonek.ss03.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss01</key>
	<string>F_.ss01.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss04</key>
	<string>G_.ss04.glif</string>
	<key>G.ss06</key>
	<string>G_.ss06.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gbreve.ss04</key>
	<string>G_breve.ss04.glif</string>
	<key>Gbreve.ss06</key>
	<string>G_breve.ss06.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>Gdotaccent.ss04</key>
	<string>G_dotaccent.ss04.glif</string>
	<key>Gdotaccent.ss06</key>
	<string>G_dotaccent.ss06.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>H.ss03</key>
	<string>H_.ss03.glif</string>
	<key>H_E.dlig</key>
	<string>H__E_.dlig.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>IJ</key>
	<string>I_J_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss01</key>
	<string>J_.ss01.glif</string>
	<key>J.ss04</key>
	<string>J_.ss04.glif</string>
	<key>J.ss06</key>
	<string>J_.ss06.glif</string>
	<key>J.ss09</key>
	<string>J_.ss09.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.ss04</key>
	<string>K_.ss04.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>L.ss02</key>
	<string>L_.ss02.glif</string>
	<key>L.ss07</key>
	<string>L_.ss07.glif</string>
	<key>L_L.dlig</key>
	<string>L__L_.dlig.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>M.ss04</key>
	<string>M_.ss04.glif</string>
	<key>M.ss06</key>
	<string>M_.ss06.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss03</key>
	<string>O_.ss03.glif</string>
	<key>O.ss04</key>
	<string>O_.ss04.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>OE.001</key>
	<string>O_E_.001.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.ss03</key>
	<string>O_acute.ss03.glif</string>
	<key>Oacute.ss04</key>
	<string>O_acute.ss04.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflex.ss03</key>
	<string>O_circumflex.ss03.glif</string>
	<key>Ocircumflex.ss04</key>
	<string>O_circumflex.ss04.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Odieresis.ss03</key>
	<string>O_dieresis.ss03.glif</string>
	<key>Odieresis.ss04</key>
	<string>O_dieresis.ss04.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.ss03</key>
	<string>O_grave.ss03.glif</string>
	<key>Ograve.ss04</key>
	<string>O_grave.ss04.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Ohungarumlaut.ss03</key>
	<string>O_hungarumlaut.ss03.glif</string>
	<key>Ohungarumlaut.ss04</key>
	<string>O_hungarumlaut.ss04.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omacron.ss03</key>
	<string>O_macron.ss03.glif</string>
	<key>Omacron.ss04</key>
	<string>O_macron.ss04.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslash.ss03</key>
	<string>O_slash.ss03.glif</string>
	<key>Oslash.ss04</key>
	<string>O_slash.ss04.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>Otilde.ss03</key>
	<string>O_tilde.ss03.glif</string>
	<key>Otilde.ss04</key>
	<string>O_tilde.ss04.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss04</key>
	<string>P_.ss04.glif</string>
	<key>P.ss06</key>
	<string>P_.ss06.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss03</key>
	<string>Q_.ss03.glif</string>
	<key>Q.ss04</key>
	<string>Q_.ss04.glif</string>
	<key>Q.ss06</key>
	<string>Q_.ss06.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>R.ss03</key>
	<string>R_.ss03.glif</string>
	<key>R.ss04</key>
	<string>R_.ss04.glif</string>
	<key>R.ss06</key>
	<string>R_.ss06.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss06</key>
	<string>S_.ss06.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scedilla.ss06</key>
	<string>S_cedilla.ss06.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss01</key>
	<string>T_.ss01.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.ss03</key>
	<string>W_.ss03.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wacute.ss03</key>
	<string>W_acute.ss03.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wcircumflex.ss03</key>
	<string>W_circumflex.ss03.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wdieresis.ss03</key>
	<string>W_dieresis.ss03.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>Wgrave.ss03</key>
	<string>W_grave.ss03.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.ss04</key>
	<string>X_.ss04.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss04</key>
	<string>Y_.ss04.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Yacute.ss04</key>
	<string>Y_acute.ss04.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ycircumflex.ss04</key>
	<string>Y_circumflex.ss04.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydieresis.ss04</key>
	<string>Y_dieresis.ss04.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Ygrave.ss04</key>
	<string>Y_grave.ss04.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.ss01</key>
	<string>Z_.ss01.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>_part.halfstemleft</key>
	<string>_part.halfstemleft.glif</string>
	<key>_part.halfstemright</key>
	<string>_part.halfstemright.glif</string>
	<key>_part.longserif</key>
	<string>_part.longserif.glif</string>
	<key>_part.longserifbdc</key>
	<string>_part.longserifbdc.glif</string>
	<key>_part.shortserif</key>
	<string>_part.shortserif.glif</string>
	<key>_part.stem</key>
	<string>_part.stem.glif</string>
	<key>_part.stembdc</key>
	<string>_part.stembdc.glif</string>
	<key>_part.stemserifs</key>
	<string>_part.stemserifs.glif</string>
	<key>_part.stemthin</key>
	<string>_part.stemthin.glif</string>
	<key>_part.verticalstrokethin</key>
	<string>_part.verticalstrokethin.glif</string>
	<key>_part.wavestrokehorizontal</key>
	<string>_part.wavestrokehorizontal.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.ss09</key>
	<string>ampersand.ss09.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>bullet.ss06</key>
	<string>bullet.ss06.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>dagger.ss06</key>
	<string>dagger.ss06.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>daggerdbl.ss06</key>
	<string>daggerdbl.ss06.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notdef</key>
	<string>notdef.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblleft.ss08</key>
	<string>quotedblleft.ss08.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quotedblright.ss08</key>
	<string>quotedblright.ss08.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u1F4AE</key>
	<string>u1F_4A_E_.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0122.ss04</key>
	<string>uni0122.ss04.glif</string>
	<key>uni0122.ss06</key>
	<string>uni0122.ss06.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0218.ss06</key>
	<string>uni0218.ss06.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni0302</key>
	<string>uni0302.glif</string>
	<key>uni0304</key>
	<string>uni0304.glif</string>
	<key>uni0304.narrow</key>
	<string>uni0304.narrow.glif</string>
	<key>uni0306</key>
	<string>uni0306.glif</string>
	<key>uni0307</key>
	<string>uni0307.glif</string>
	<key>uni0307.case</key>
	<string>uni0307.case.glif</string>
	<key>uni0308</key>
	<string>uni0308.glif</string>
	<key>uni030A</key>
	<string>uni030A_.glif</string>
	<key>uni030B</key>
	<string>uni030B_.glif</string>
	<key>uni030C</key>
	<string>uni030C_.glif</string>
	<key>uni0312</key>
	<string>uni0312.glif</string>
	<key>uni0326</key>
	<string>uni0326.glif</string>
	<key>uni0327</key>
	<string>uni0327.glif</string>
	<key>uni0328</key>
	<string>uni0328.glif</string>
	<key>uni1E9E</key>
	<string>uni1E_9E_.glif</string>
	<key>uni1E9E.ss01</key>
	<string>uni1E_9E_.ss01.glif</string>
	<key>uni2009</key>
	<string>uni2009.glif</string>
	<key>uni200A</key>
	<string>uni200A_.glif</string>
	<key>uni2055</key>
	<string>uni2055.glif</string>
	<key>uni2698</key>
	<string>uni2698.glif</string>
	<key>uni2E4B.ss06</key>
	<string>uni2E_4B_.ss06.glif</string>
	<key>uniA746</key>
	<string>uniA_746.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
