<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>L.ss01</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-55</integer>
	</dict>
	<key>L.ss02</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-80</integer>
	</dict>
	<key>X.ss04</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-45</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>braceleft</key>
		<integer>-75</integer>
		<key>public.kern2.H</key>
		<integer>-35</integer>
		<key>public.kern2.N</key>
		<integer>-35</integer>
		<key>public.kern2.O</key>
		<integer>-50</integer>
	</dict>
	<key>braceright</key>
	<dict>
		<key>braceright</key>
		<integer>-75</integer>
	</dict>
	<key>dagger</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-115</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>public.kern2.5</key>
		<integer>-25</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>parenleft</key>
		<integer>-15</integer>
		<key>public.kern2.O</key>
		<integer>-15</integer>
	</dict>
	<key>parenright</key>
	<dict>
		<key>parenright</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.1</key>
	<dict>
		<key>public.kern2.2</key>
		<integer>-10</integer>
		<key>public.kern2.4</key>
		<integer>-50</integer>
		<key>public.kern2.7</key>
		<integer>-25</integer>
		<key>public.kern2.8</key>
		<integer>-15</integer>
		<key>public.kern2.O</key>
		<integer>-15</integer>
		<key>public.kern2.S</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.2</key>
	<dict>
		<key>public.kern2.2</key>
		<integer>-15</integer>
		<key>public.kern2.4</key>
		<integer>-15</integer>
		<key>public.kern2.7</key>
		<integer>-15</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.3</key>
	<dict>
		<key>public.kern2.1</key>
		<integer>-15</integer>
		<key>public.kern2.2</key>
		<integer>-5</integer>
		<key>public.kern2.3</key>
		<integer>-15</integer>
		<key>public.kern2.4</key>
		<integer>-15</integer>
		<key>public.kern2.9</key>
		<integer>-15</integer>
		<key>public.kern2.tiret</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.4</key>
	<dict>
		<key>public.kern2.2</key>
		<integer>-50</integer>
		<key>public.kern2.3</key>
		<integer>-15</integer>
		<key>public.kern2.7</key>
		<integer>-40</integer>
		<key>public.kern2.9</key>
		<integer>-15</integer>
		<key>public.kern2.tiret</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.5</key>
	<dict>
		<key>public.kern2.7</key>
		<integer>-5</integer>
	</dict>
	<key>public.kern1.6</key>
	<dict>
		<key>public.kern2.2</key>
		<integer>-15</integer>
		<key>public.kern2.3</key>
		<integer>-15</integer>
		<key>public.kern2.5</key>
		<integer>-20</integer>
		<key>public.kern2.7</key>
		<integer>-15</integer>
		<key>public.kern2.9</key>
		<integer>-15</integer>
		<key>public.kern2.tiret</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.7</key>
	<dict>
		<key>public.kern2.1</key>
		<integer>-20</integer>
		<key>public.kern2.3</key>
		<integer>-15</integer>
		<key>public.kern2.4</key>
		<integer>-120</integer>
		<key>public.kern2.8</key>
		<integer>-55</integer>
		<key>public.kern2.9</key>
		<integer>-25</integer>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.tiret</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.8</key>
	<dict>
		<key>public.kern2.1</key>
		<integer>-15</integer>
		<key>public.kern2.2</key>
		<integer>-40</integer>
		<key>public.kern2.4</key>
		<integer>-5</integer>
		<key>public.kern2.5</key>
		<integer>-25</integer>
		<key>public.kern2.7</key>
		<integer>-50</integer>
		<key>public.kern2.9</key>
		<integer>-45</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>dagger</key>
		<integer>-115</integer>
		<key>public.kern2.2</key>
		<integer>10</integer>
		<key>public.kern2.7</key>
		<integer>-50</integer>
		<key>public.kern2.H</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-35</integer>
		<key>public.kern2.J1</key>
		<integer>-45</integer>
		<key>public.kern2.Jswash</key>
		<integer>-15</integer>
		<key>public.kern2.Lbroken</key>
		<integer>-115</integer>
		<key>public.kern2.M6</key>
		<integer>-25</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-35</integer>
		<key>public.kern2.T</key>
		<integer>-65</integer>
		<key>public.kern2.T1</key>
		<integer>-65</integer>
		<key>public.kern2.U</key>
		<integer>-45</integer>
		<key>public.kern2.V</key>
		<integer>-105</integer>
		<key>public.kern2.X</key>
		<integer>-25</integer>
		<key>public.kern2.X4</key>
		<integer>-75</integer>
		<key>public.kern2.Y</key>
		<integer>-45</integer>
		<key>public.kern2.Y4</key>
		<integer>-75</integer>
		<key>public.kern2.aste</key>
		<integer>-140</integer>
		<key>public.kern2.bslash</key>
		<integer>-40</integer>
		<key>public.kern2.esszet1</key>
		<integer>-25</integer>
		<key>public.kern2.eszett</key>
		<integer>-25</integer>
		<key>public.kern2.guilleright</key>
		<integer>-35</integer>
		<key>public.kern2.periodcenter</key>
		<integer>-25</integer>
		<key>public.kern2.quotedblleft</key>
		<integer>-120</integer>
		<key>public.kern2.quotedblright</key>
		<integer>-110</integer>
		<key>public.kern2.slash</key>
		<integer>15</integer>
		<key>public.kern2.tiret</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.H</key>
		<integer>-25</integer>
		<key>public.kern2.N</key>
		<integer>-35</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.S</key>
		<integer>-35</integer>
		<key>public.kern2.T</key>
		<integer>-35</integer>
		<key>public.kern2.U</key>
		<integer>-45</integer>
		<key>public.kern2.X</key>
		<integer>-50</integer>
		<key>public.kern2.Y</key>
		<integer>-40</integer>
		<key>public.kern2.Z</key>
		<integer>-35</integer>
		<key>public.kern2.bslash</key>
		<integer>-60</integer>
		<key>public.kern2.esszet1</key>
		<integer>25</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-5</integer>
		<key>public.kern2.O</key>
		<integer>-5</integer>
		<key>public.kern2.S</key>
		<integer>-5</integer>
	</dict>
	<key>public.kern1.C4</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.C6</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-35</integer>
		<key>public.kern2.J</key>
		<integer>-10</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-25</integer>
		<key>public.kern2.T</key>
		<integer>-25</integer>
		<key>public.kern2.U</key>
		<integer>-35</integer>
		<key>public.kern2.X</key>
		<integer>-15</integer>
		<key>public.kern2.period</key>
		<integer>-25</integer>
		<key>public.kern2.periodcenter</key>
		<integer>-50</integer>
		<key>public.kern2.tiret</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.E1</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.H</key>
		<integer>-25</integer>
		<key>public.kern2.J1</key>
		<integer>-35</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.T</key>
		<integer>-15</integer>
		<key>public.kern2.V</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-75</integer>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.eszett</key>
		<integer>-35</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>public.kern2.tiret</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.F1</key>
	<dict>
		<key>public.kern2.1</key>
		<integer>15</integer>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.S</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>public.kern2.1</key>
		<integer>-15</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.H</key>
		<integer>-25</integer>
		<key>public.kern2.N</key>
		<integer>-15</integer>
		<key>public.kern2.U</key>
		<integer>-25</integer>
		<key>public.kern2.V</key>
		<integer>-35</integer>
		<key>public.kern2.Z</key>
		<integer>-25</integer>
		<key>public.kern2.period</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>braceright</key>
		<integer>-35</integer>
		<key>public.kern2.A</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-10</integer>
		<key>public.kern2.J1</key>
		<integer>-40</integer>
		<key>public.kern2.M6</key>
		<integer>-5</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>public.kern2.T</key>
		<integer>-15</integer>
		<key>public.kern2.T1</key>
		<integer>-15</integer>
		<key>public.kern2.V</key>
		<integer>-15</integer>
		<key>public.kern2.ampersand</key>
		<integer>-20</integer>
		<key>public.kern2.period</key>
		<integer>-25</integer>
		<key>public.kern2.periodcenter</key>
		<integer>-45</integer>
		<key>public.kern2.sign</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.J4</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-85</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.H</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-60</integer>
		<key>public.kern2.J1</key>
		<integer>-80</integer>
		<key>public.kern2.N</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-75</integer>
		<key>public.kern2.S</key>
		<integer>-45</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-85</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.Z</key>
		<integer>-25</integer>
		<key>public.kern2.period</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.K4</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.H</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-75</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.J1</key>
		<integer>-25</integer>
		<key>public.kern2.Lbroken</key>
		<integer>-130</integer>
		<key>public.kern2.M6</key>
		<integer>-25</integer>
		<key>public.kern2.N</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-95</integer>
		<key>public.kern2.T1</key>
		<integer>-100</integer>
		<key>public.kern2.U</key>
		<integer>-45</integer>
		<key>public.kern2.V</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-55</integer>
	</dict>
	<key>public.kern1.L1</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.J1</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>5</integer>
	</dict>
	<key>public.kern1.L2</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-15</integer>
	</dict>
	<key>public.kern1.M6</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-15</integer>
		<key>public.kern2.H</key>
		<integer>0</integer>
		<key>public.kern2.M6</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.T</key>
		<integer>-45</integer>
		<key>public.kern2.U</key>
		<integer>-55</integer>
		<key>public.kern2.V</key>
		<integer>-45</integer>
	</dict>
	<key>public.kern1.N</key>
	<dict>
		<key>braceright</key>
		<integer>-35</integer>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.H</key>
		<integer>-25</integer>
		<key>public.kern2.J</key>
		<integer>-15</integer>
		<key>public.kern2.J1</key>
		<integer>-35</integer>
		<key>public.kern2.M6</key>
		<integer>-35</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.S</key>
		<integer>-45</integer>
		<key>public.kern2.T</key>
		<integer>-15</integer>
		<key>public.kern2.V</key>
		<integer>-25</integer>
		<key>public.kern2.Z</key>
		<integer>-35</integer>
		<key>public.kern2.ampersand</key>
		<integer>-45</integer>
		<key>public.kern2.eszett</key>
		<integer>-25</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>braceright</key>
		<integer>-50</integer>
		<key>parenright</key>
		<integer>-15</integer>
		<key>public.kern2.1</key>
		<integer>5</integer>
		<key>public.kern2.2</key>
		<integer>-40</integer>
		<key>public.kern2.3</key>
		<integer>-25</integer>
		<key>public.kern2.4</key>
		<integer>-25</integer>
		<key>public.kern2.5</key>
		<integer>-25</integer>
		<key>public.kern2.7</key>
		<integer>-10</integer>
		<key>public.kern2.A</key>
		<integer>-35</integer>
		<key>public.kern2.H</key>
		<integer>-20</integer>
		<key>public.kern2.J1</key>
		<integer>-15</integer>
		<key>public.kern2.J4</key>
		<integer>-25</integer>
		<key>public.kern2.J6</key>
		<integer>-20</integer>
		<key>public.kern2.Lbroken</key>
		<integer>-50</integer>
		<key>public.kern2.M6</key>
		<integer>-25</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>-15</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.U</key>
		<integer>-15</integer>
		<key>public.kern2.V</key>
		<integer>-45</integer>
		<key>public.kern2.X</key>
		<integer>-40</integer>
		<key>public.kern2.X4</key>
		<integer>-65</integer>
		<key>public.kern2.Y</key>
		<integer>-25</integer>
		<key>public.kern2.Y4</key>
		<integer>-65</integer>
		<key>public.kern2.Z</key>
		<integer>-25</integer>
		<key>public.kern2.aste</key>
		<integer>-35</integer>
		<key>public.kern2.period</key>
		<integer>-85</integer>
		<key>public.kern2.quotedblright</key>
		<integer>-35</integer>
		<key>public.kern2.tiret</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-75</integer>
		<key>public.kern2.H</key>
		<integer>-35</integer>
		<key>public.kern2.S</key>
		<integer>-35</integer>
		<key>public.kern2.T</key>
		<integer>-5</integer>
		<key>public.kern2.U</key>
		<integer>-35</integer>
		<key>public.kern2.V</key>
		<integer>-45</integer>
		<key>public.kern2.Z</key>
		<integer>-35</integer>
		<key>public.kern2.ampersand</key>
		<integer>-45</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.P4</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-120</integer>
		<key>public.kern2.A5</key>
		<integer>-80</integer>
		<key>public.kern2.H</key>
		<integer>-35</integer>
		<key>public.kern2.O</key>
		<integer>-70</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.P6</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-85</integer>
		<key>public.kern2.H</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-15</integer>
		<key>public.kern2.U</key>
		<integer>-25</integer>
		<key>public.kern2.V</key>
		<integer>-45</integer>
		<key>public.kern2.Y</key>
		<integer>-15</integer>
		<key>public.kern2.period</key>
		<integer>35</integer>
		<key>public.kern2.tiret</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.R1</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.R3</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.T</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.R4</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.R6</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.colon</key>
		<integer>30</integer>
		<key>public.kern2.period</key>
		<integer>30</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.H</key>
		<integer>-25</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.T</key>
		<integer>-25</integer>
		<key>public.kern2.T1</key>
		<integer>-25</integer>
		<key>public.kern2.U</key>
		<integer>-25</integer>
		<key>public.kern2.esszet1</key>
		<integer>25</integer>
		<key>public.kern2.period</key>
		<integer>-40</integer>
		<key>public.kern2.quotedblleft</key>
		<integer>-45</integer>
		<key>public.kern2.quotedblright</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.5</key>
		<integer>-30</integer>
		<key>public.kern2.A</key>
		<integer>-65</integer>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.M6</key>
		<integer>-45</integer>
		<key>public.kern2.N</key>
		<integer>-15</integer>
		<key>public.kern2.O</key>
		<integer>-10</integer>
		<key>public.kern2.S</key>
		<integer>-35</integer>
		<key>public.kern2.U</key>
		<integer>-10</integer>
		<key>public.kern2.Z</key>
		<integer>-25</integer>
		<key>public.kern2.esszet1</key>
		<integer>-50</integer>
		<key>public.kern2.eszett</key>
		<integer>-40</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>public.kern2.tiret</key>
		<integer>-45</integer>
		<key>public.kern2.under</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.T1</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-65</integer>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.S</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-45</integer>
		<key>public.kern2.J</key>
		<integer>0</integer>
		<key>public.kern2.M6</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-15</integer>
		<key>public.kern2.S</key>
		<integer>-45</integer>
		<key>public.kern2.Z</key>
		<integer>-25</integer>
		<key>public.kern2.ampersand</key>
		<integer>-15</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-105</integer>
		<key>public.kern2.H</key>
		<integer>-15</integer>
		<key>public.kern2.M6</key>
		<integer>-35</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-45</integer>
		<key>public.kern2.S</key>
		<integer>-65</integer>
		<key>public.kern2.U</key>
		<integer>-35</integer>
		<key>public.kern2.guilleright</key>
		<integer>-35</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>public.kern2.slash</key>
		<integer>-40</integer>
		<key>public.kern2.tiret</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-50</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
		<key>public.kern2.guilleright</key>
		<integer>-25</integer>
		<key>public.kern2.tiret</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>X</key>
		<integer>-15</integer>
		<key>public.kern2.A</key>
		<integer>-45</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.S</key>
		<integer>-25</integer>
		<key>public.kern2.period</key>
		<integer>-60</integer>
		<key>public.kern2.tiret</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.Y4</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-75</integer>
		<key>public.kern2.O</key>
		<integer>-65</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.H</key>
		<integer>-20</integer>
		<key>public.kern2.J</key>
		<integer>-25</integer>
		<key>public.kern2.N</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.T</key>
		<integer>-25</integer>
		<key>public.kern2.V</key>
		<integer>15</integer>
		<key>public.kern2.Y</key>
		<integer>15</integer>
		<key>public.kern2.Z</key>
		<integer>-15</integer>
		<key>public.kern2.period</key>
		<integer>-25</integer>
		<key>public.kern2.tiret</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.ampersand</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-35</integer>
		<key>public.kern2.N</key>
		<integer>-45</integer>
		<key>public.kern2.O</key>
		<integer>-25</integer>
		<key>public.kern2.Y</key>
		<integer>-80</integer>
		<key>space</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.aste</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-140</integer>
		<key>public.kern2.O</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.bslash</key>
	<dict>
		<key>public.kern2.V</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.esszet1</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.eszett</key>
	<dict>
		<key>public.kern2.1</key>
		<integer>-50</integer>
		<key>public.kern2.H</key>
		<integer>-45</integer>
		<key>public.kern2.J1</key>
		<integer>-25</integer>
		<key>public.kern2.S</key>
		<integer>-25</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.guilleleft</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-35</integer>
		<key>public.kern2.V</key>
		<integer>-35</integer>
		<key>public.kern2.X</key>
		<integer>-25</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-25</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.S</key>
		<integer>5</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-80</integer>
		<key>public.kern2.Y</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.periodcenter</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-25</integer>
		<key>public.kern2.H</key>
		<integer>-45</integer>
	</dict>
	<key>public.kern1.quotedblleft</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-120</integer>
		<key>public.kern2.O</key>
		<integer>-35</integer>
		<key>public.kern2.S</key>
		<integer>-45</integer>
	</dict>
	<key>public.kern1.quotedblright</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-130</integer>
		<key>public.kern2.O</key>
		<integer>-75</integer>
		<key>public.kern2.S</key>
		<integer>-65</integer>
	</dict>
	<key>public.kern1.sign</key>
	<dict>
		<key>public.kern2.H</key>
		<integer>-35</integer>
	</dict>
	<key>public.kern1.slash</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-40</integer>
		<key>public.kern2.H</key>
		<integer>-30</integer>
		<key>public.kern2.N</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.tiret</key>
	<dict>
		<key>public.kern2.2</key>
		<integer>-35</integer>
		<key>public.kern2.4</key>
		<integer>-15</integer>
		<key>public.kern2.5</key>
		<integer>-15</integer>
		<key>public.kern2.7</key>
		<integer>-15</integer>
		<key>public.kern2.A</key>
		<integer>-35</integer>
		<key>public.kern2.O</key>
		<integer>35</integer>
		<key>public.kern2.T</key>
		<integer>-45</integer>
		<key>public.kern2.V</key>
		<integer>-35</integer>
		<key>public.kern2.X</key>
		<integer>-35</integer>
		<key>public.kern2.Y</key>
		<integer>-35</integer>
		<key>public.kern2.Z</key>
		<integer>-35</integer>
		<key>public.kern2.tiret</key>
		<integer>35</integer>
	</dict>
	<key>public.kern1.under</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-80</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-55</integer>
		<key>public.kern2.V</key>
		<integer>-25</integer>
	</dict>
	<key>uni1E9E.ss01</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-15</integer>
	</dict>
</dict>
</plist>
